/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[探]ogs/
/[Uu]serSettings/
MemoryCaptures/
Recording/
/Assets/AssetStoreTools*
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.IDB
*.orig
*.m4v
*.apk
*.unitypackage
.DS_Store
