# Her şeyi yok say
/*

# Temel Unity klasörlerini yok say
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/UserSettings/

# Bu dosyalara/klasörlere İZİN VER
!/.gitignore
!/Assets/

# Assets içindeki her şeyi yok say ama Scripts'e izin ver
/Assets/*
!/Assets/Scripts/

# Meta dosyalarını da aynı şekilde yönet
*.meta
!/Assets/Scripts/**/*.meta
